.home{
    height: calc(100vh - 96px);
    position: relative;
}

.cards{
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    position: absolute;
    bottom: -240px;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
    padding: 0 36px;

    z-index: 2;

    text-align: left;
}

.card{
    height: 296px;
    width: 100%;

    padding: 24px 36px;

    background: url("../images/card-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.header h3{
    font-size: 2rem;
    line-height: 32px;
    font-weight: 800;

    width: 20%;

    color: var(--teal);

    text-transform: uppercase;
}
.header-icon{
    background-color: var(--blue);
    width: 60px;
    height: 60px;

    border-radius: 50%;
}

.description{
    margin-top: 20px;
    text-align: left;

    color: var(--teal);

    width: 80%;
    height: calc(100% - 90px);
}
.description a {
    display: flex;
    align-items: center;
}
.description a::after{
    font-family: 'Material Symbols Outlined';
    content: '\e5e1';
}

.banner{
    /* background = image location | repeat option | x y coordinates | size */
    background: 
        url("../images/dog.svg") no-repeat -5% -5% / 20%,
        url("../images/cat.svg") no-repeat 100% -5% / 20%;
    background-color: var(--green);
}

.reptile-card{
    width: 400px;
    height: 244px;
    border-radius: 18px;

    padding: 12px 16px;

    display: flex;
    flex-direction: row;
    overflow: hidden;

    box-shadow: 0px 3.79837px 20.89106px 0px rgba(0, 0, 0, 0.20);
}

.reptile-card a{
    display: flex;
    align-items: center;
}

.reptile-card a::after{
    font-family: 'Material Symbols Outlined';
    content: '\e5e1';
}

.reptile-card .circle{
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    margin-top: 40px;

    background: var(--green);

}
.slider-animal-desc{
    display: none;
}

@media(max-width:1280px){

    .card{
        padding: 24px; 

        height: 280px;
    }

    .card .header h3{
        font-size: 1.6rem;
        line-height: 1.6rem;
    }

    .card .description{
        font-size: 0.9rem;
        line-height: 1.1rem;
    }
    .header-icon{
        width: 50px;
        height: 50px;
    }
    .header-icon img{
        height: 1.75rem;
    }

    .reptile-card{
        width: 360px;
    }
    .reptile-card h2{
        font-size: 1.7rem;
    }
    .reptile-card p{
        font-size: 0.7rem
    }
    .reptile-card a{
        font-size: 0.8rem
    }
    .reptile-card img{
        height: 18rem;
    }
    .banner h3{
        font-size: 1.75rem;
    }
    .banner h2{
        font-size: 3.75rem;
    }
    .banner{
        background: 
        url("../images/dog.svg") no-repeat -5% -25% / 20%,
        url("../images/cat.svg") no-repeat 100% -25% / 20%;
        background-color: var(--green);
    }
    .animal-info .heading{
        font-size: 5.2rem;
    }
    .animal-info .heading .animal-description{
        font-size: 1rem;
        line-height: 1.2rem;
        width: 70%;
    }

}

@media(max-width:1160px){
    .reptile-card{
        width: 300px;
        height: 212px;
    }
    .reptile-card p {
        font-size: 0.65rem;
        line-height: 0.75rem;
    }
    .reptile-card h2 {
        font-size: 1.4rem;
    }
}

@media(max-width: 1000px){
    .cards{
        flex-direction: column;
        bottom: -380px;

    }
    .card{
        width: 90%;
        height: 200px;
    }
    .banner-content{
        height: 60rem;
    }

}
@media(max-width: 900px){
    .grid-animal-desc{
        display: none;
    }
    .slider-animal-desc{
        display: block;
    }
    .reptile-card{
        width: 400px;
        height: 244px;

        padding: 12px 16px;
    }
    .reptile-card h2{
        font-size: 2rem;
    }
    .reptile-card p{
        font-size: 0.8rem;
        line-height: 1rem;;
    }
    .reptile-card a{
        font-size: 1rem
    }
    .reptile-card img{
        height: 18rem;
    }
}